.overview {
  padding: 20px;
}

.overview-content {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .overview {
    padding: 15px;
  }
  .overview-content {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .overview-content {
    width: 90%;
  }
}
