.overview {
  /* padding: 20px; */
  display: grid;
  place-items: center;
}

.overview .primary-heading {
  margin-bottom: 12px;
}

.overview .wrapper {
  text-align: center;
}

@media (max-width: 360px) {
  .overview .primary-heading {
    font-size: 24px;
  }
}
