@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.fullbody {
  display: flex;
  flex-direction: column;
}
.upperpart {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black;*/
  width: 100%;
  height: 110vh;
}
.left {
  width: 50%;
  height: 100%;
  /* border:2px solid red;*/
}
.left img {
  width: 100%;
  height: 95%;
  margin-top: 10px;
}
.right {
  width: 50%;
  height: 100%;
  /* border:2px solid blue;*/
  background-image: linear-gradient(
    to right,
    rgba(252, 249, 247, 0.836),
    rgba(240, 197, 181, 0.527)
  );
}
.right h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  font-size: 48px;
  margin-top: 40px;
  color: rgb(41, 137, 192);
}
.right p {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 650;
  font-size: 18px;
}
.first {
  margin-top: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}
.first h1 {
  color: rgb(60, 135, 170);
  font-size: 38px;
  font-weight: bold;
}
.middlepart {
  width: 98%;
  height: 45vh;
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.second {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 20vh;
  /* border:2px solid green;*/
  margin: auto;
}
.part {
  width: 13%;
  height: 87%;
  font-size: 18px;
  text-align: center;
  /* border:2px solid blue;*/

  margin: auto;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  padding: 24px;
  background-color: rgba(255, 250, 250, 0.925);
  border-radius: 410px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    rgba(252, 249, 247, 0.993),
    rgba(236, 241, 183, 0.932)
  );
  /* border: 2px solid blue;*/
}
.part h3 {
  font-size: 23px;
  margin: auto;
  justify-content: center;
  transition: transform 0.2s;
}
.part h3 {
  margin-top: 17px;
}
.part:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.lowerpart {
  width: 97%;
  height: 55vh;
  /* border:2px solid blueviolet;*/
  margin: 30px auto auto auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* /* background-image: linear-gradient(to right, rgb(253, 253, 253) , rgb(232, 247, 245)); */
  padding: 10px;

  /* border:2px solid blue;*/
}
.firstl {
  margin-top: 27px;
  width: 45%;
  height: 50vh;
  margin-left: -20px;
}
.secondl {
  margin-top: 5px;
  width: 45%;
  height: 48vh;
}
.secondl img {
  width: 90%;
  height: 40vh;
}
.lowerpart p {
  margin: auto;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  padding: 38px;
  margin: 35px 40px 20px 60px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 1300px) {
  .upperpart {
    height: 130vh;
  }
}

@media only screen and (max-width: 1200px) {
  .upperpart {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;
  }
  .left {
    width: 60%;
    height: 50%;
    margin: auto;
  }
  .right {
    width: 100%;
    height: 100%;
  }
  .middlepart {
    height: 67vh;
  }
  .firstl {
    margin-top: 0;
    height: 45vh;
    text-align: center;
  }
  .firstl p {
    font-size: 18px;
  }
  .secondl {
    margin-top: 0;
  }
  .secondl img {
    height: 64vh;
  }

  .part h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1010px) {
  .left {
    width: 70%;
    height: 50vh;
  }
  .second {
    display: block;
  }
  .first h1 {
    font-size: 18px;
  }
  .part {
    width: 65%;
    height: 12%;
    font-size: 15px;
  }

  .part h3 {
    margin-top: 0;
    font-size: 15px;
    /* background-color: chartreuse; */
  }
  .lowerpart {
    margin: 30px 40px 20px 55px;
    display: flex;
    flex-direction: column;
  }
  .firstl {
    width: 100%;
    height: 100vh;
  }
  .secondl img {
    display: none;
  }
}
@media only screen and(max-width:800px) {
  .part {
    width: 80%;
    height: 10vh;
    font-size: 10px;
    font-size: 20px;
  }
}
