  .password{
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .password-change {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 38%;
    box-shadow: 11px 12px 13px 12px rgba(0, 0, 0, 0.07);
    padding-top: 0px;
    border-radius: 30px; 
    background-color: white;
  }

  .password-change h1 {
    text-align: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .change {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
  }

  input {
    display: flex;
    justify-content: center;
    width: 300px;
    min-height: 0px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px rgb(206, 202, 202);
    border: none;
    outline: none;
    background-color: #fff;
}
   
  .submit {
    text-align: center;
    justify-content: center;
    padding-top: 5%;
   }

   .button {
    text-align: center;
    justify-content: center;
   }
   
   @media only screen and (max-width: 800px) {
    .pc {
      width: 80%;
    }
  }

  @media only screen and (max-width: 800px) {
    .change {
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .change {
      width: 100%;
    }
  }

  @media only screen and (max-width: 425px) {
    .button {
      width: 60%;
    }
  }

  @media only screen and (max-width: 500px) {
    .password-change h1{
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 500px) {
    .password-change {
      max-height: 300px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .password-change h1{
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 335px) {
    .password-change h1{
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 425px) {
    .password-change {
      max-height: 280px;
    }
  }

  @media only screen and (max-width: 335px) {
    .password-change {
      max-height: 250px;
    }
  }


  
  