.Profile {
  padding-top: 80px;
  background-color: var(--gradient);
  min-height: calc(100vh - 250px);
}

.Profile .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}
.profile__img {
  flex-basis: 30%;
  display: grid;
  place-items: center;
}
.profile__img img {
  width: 80%;
  border-radius: 100px;
}
.username {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.mail-id {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.infocard {
  background: var(--purple);
  border-radius: 15px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.infocard__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}
.infocard__info span {
  display: block;
}

label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}
span {
  display: table-cell;
  padding: 0 0 0 5px;
}
input {
  width: 100%;
}
.edit {
  display: inline;
}

.detailscard {
  overflow-x: hidden;
}
