.campaignheadcss {
  margin-top: 50px;
}

.campaignmaincss {
  margin-top: 100px;
  align-items: center;
}

.margincardcampaigncss {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
