.campaign-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
  margin: 50px auto;
}
.campaign-image {
  flex-basis: 200%;
  max-width: 100%;
}
.campaign-text {
  font-size: 20px;
  padding-left: 20px;
}

.campaign-head {
  text-align: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.campaign-carousel {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-image {
  height: 100%;
}
