.campaigns-page {
  background: var(--gradient);
  padding-top: 50px;
  padding-bottom: 1px;
}
.campaign-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
  margin: 5px auto;
}
.campaign-text {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

.campaign-head {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 1px auto;
}

.campaign-carousel {
  max-width: 500px;
  margin: 0 auto;
}


.carousel-image {
  height: 100%;
}
