a {
  color: currentColor;
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

header {
  height: 80vh;
  background: var(--gradient);
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  padding: 16px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #ffb4a275;
  font-size: 18px;
}

nav .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
  height: 70;
  width: 70;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

.links {
  font-weight: 600;
}

.linkItem{
  position: relative;
}

.linkItem::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: 0.2s;
  background-color: #212121;
}

.linkItem:hover::after {
  width: 100%;
}

.btn {
  background-color: var(--purple);
  width: 50%;
  height: 100%;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 6px 0 #21212130;
  text-align: center;
  transition: 0.2s;
  border-radius: 500px;
  color: #fafafa
}

.btn:active {
  box-shadow: none;
}

.btn-group {
  display: flex;
  gap: 30px;
  width: 40%;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
}

.content h1 {
  font-size: 96px; 
  font-weight: 700;
  margin: 0;
}
.content p {
  font-size: 48px; 
  margin: 0 0 60px 0;
  width: 50%;
}

.content .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content .btn:nth-child(2) {
  background-color: var(--primary-color);
}