:root {
  --black: #212121;
}

header {
  min-height: 700px;
  background: var(--gradient);
  padding-top: 80px;
}

.btn {
  background-color: var(--purple);
  width: 50%;
  height: 100%;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 6px 0 #21212130;
  text-align: center;
  transition: 0.2s;
  border-radius: 500px;
  color: #fafafa;
}

.btn:active {
  box-shadow: none;
}

.btn-group {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
}

header .wrapper {
  display: flex;
  align-items: center;
  min-height: inherit;
}

.header .btn:nth-child(2) {
  background-color: var(--primary-color);
}

.yif {
  font-weight: 700;
  color: var(--black);
}

.left {
  max-width: 700px;
}

.left h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: var(--black);
}

.left p {
  font-size: 40px;
  margin: 0;
  color: var(--primary-color);
}

.left .btn-group {
  margin-top: 30px;
}

.right {
  display: flex;
  justify-content: flex-end;
  min-width: 60%;
}

.right img {
  width: 100%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@media (max-width: 420px) {
  .right {
    display: none;
  }

  .left {
    text-align: center;
  }

  .left h1 {
    font-size: 48px;
  }
  .left p {
    font-size: 24px;
  }
  header .wrapper {
    justify-content: center;
  }
  .btn-group {
    flex-direction: column;
    gap: 10px;
  }
  .left .btn {
    width: 100%;
  }
}
