/* :root {
  --black: #212121;
}

header {
  min-height: 700px;
  background: var(--gradient);
  padding-top: 80px;
}

header .wrapper {
  display: flex;
  align-items: center;
  min-height: inherit;
  flex-wrap: wrap;
}

.header .btn:nth-child(2) {
  background-color: var(--primary-color);
}

.yif {
  font-weight: 600;
  color: var(--black);
}

.left {
  flex: 1 1 40%;
}

.left h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
  color: var(--black);
}

.left p {
  font-size: 38px;
  margin: 0;
  color: var(--primary-color);
}

.left .btn-group {
  margin-top: 30px;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 60%;
  min-width: 300px;
}

.right img {
  width: 100%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@media (max-width: 540px) {
  .left {
    text-align: center;
  }

  .left h1 {
    font-size: 48px;
  }
  .left p {
    font-size: 24px;
  }
  header .wrapper {
    justify-content: center;
  }
  .btn-group {
    flex-direction: column;
    gap: 10px;
  }
  .left .btn {
    width: 100%;
  }
} */
:root {
  --black: #212121;
}

header.header {
  min-height: 560px;
  background: var(--gradient);
  padding-top: 80px;
}

.header .wrapper {
  display: flex;
  align-items: center;
}

.header .wrapper .header__left {
  width: 40%;
  color: var(--black);
}
.header .wrapper .header__left .left__title {
  font-size: 4rem;
  margin-bottom: 0;
}

.header .wrapper .header__left .left__subTitle {
  font-size: 2rem;
  margin-bottom: 16px;
}

span.yif {
  font-weight: 600;
  display: block;
}
.header .wrapper .header__left .btn {
  width: 100%;
}
.header .wrapper .header__right {
  width: 60%;
}
.header .wrapper .header__right img {
  width: 100%;
}

@media (max-width: 800px) {
  .header .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }

  .header .wrapper .header__left {
    width: 100%;
  }
  .header .wrapper .header__right {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .header .wrapper .header__right {
    display: none;
  }
  .header .wrapper .header__left {
    margin-bottom: 80px;
  }
}
