.titlecss {
  /* background-image: url("back5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten; */
  background: var(--gradient);
  height: 600px;
}

.titletextcss {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  /* color: #393a98; */
  color: var(--primary-color);
  /* color: var(--white); */
}

.titlebuttoncss {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.button1 {
  /* background-color: #f05b36; */
  background-color: var(--dark);
}

.button2 {
  /* background-color: #393a98; */
  background-color: var(--secondary-color);
}

.titlebuttoncss:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #393a98;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

.titletextcss h1 {
  font-size: 3.5rem;
}

.titletextcss h3 {
  font-size: 2rem;
}

.titleimgcss {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  right: 48px;
  z-index: 0;
}

@media only screen and (max-width: 900px) {
  .titleimgcss {
    display: none;
  }
}
