.imgcss {
  width: 500px;
  height: 500px;
}

.titlecss {
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
  height: 500px;
}

.containercss {
  width: 100%;
  margin: 0px;
  color: white;
}

.titlenamecss {
  margin: auto;
}
