.titlecss {
  background-image: linear-gradient(to left, #fc4a1a, #f7b733);
  height: 600px;
}

.titletextcss {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  color: white;
}

.titletextcss h1 {
  font-size: 3.5rem;
}

.titletextcss h3 {
  font-size: 2rem;
}

.titleimgcss {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  right: 48px;
  z-index: 0;
}
