:root {
  --black: #212121;
  --nav-back: #ffb4a275;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px;
  font-size: 18px;
  z-index: 3000;
  transition: all 0.2s ease;
  /* padding-right: 100px; */
}

.ColorBar {
  background-color: var(--nav-back);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

nav .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.Logo {
  margin-right: auto;
  height: 70;
  width: 70;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

.Links {
  font-weight: 600;
  color: var(--black);
}

.LinkItem {
  position: relative;
  padding-right: 10px;
}

.LinkItem::after {
  content: '';
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: 0.2s;
  background-color: var(--primary-color);
}

.Hamburger {
  display: none;
}

@media (max-width: 635px) {
  .Links {
    display: none;
  }
  .Hamburger {
    display: block;
  }
}

.Dropdown {
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 40px;
  z-index: 4000;
  background-color: #f1f1f1;
  font-size: 15px;
  color: var(--black);
  padding: 15px 10px;
  border-radius: 12px;
  box-shadow: 4px 4px 6px 0 #21212130;
  transition: 0.2s all;
  transition-delay: 0.2s;
  display: flex;
  opacity: 0;
  visibility: hidden;
  text-align: start;
  justify-content: center;
}
.LinkItem:hover > .Dropdown {
  visibility: visible;
  opacity: 1;
}
.Dropdown li {
  padding: 5px 10px;
  transition: 0.2s all;
  border-radius: 12px;
  width: 100%;
  text-align: center;
}
.Dropdown li:hover {
  background: var(--purple);
}
