.dropdown-menucss {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 1;
}

.dropdown-menucss li {
  cursor: pointer;
  z-index: 1;
}

.dropdown-menucss li:hover {
  background: #5cabff;
  z-index: 1;
}

.dropdown-menucss.clickedcss {
  display: none;
  z-index: 1;
}

.dropdown-linkcss {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .dropdown-menucss {
    width: 100%;
    position: absolute;
    top: 170px;
    list-style: none;
    text-align: center;
  }
}
