:root {
  --black: #212121;
  --nav-back: #ffb4a275;
}

a {
  color: currentColor;
  text-decoration: none;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 16px;
  font-size: 18px;
  z-index: 3000;
  transition: all 0.2s ease;
}

.colorBar {
  background-color: var(--nav-back);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

nav .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
  height: 70;
  width: 70;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

.links {
  font-weight: 600;
  color: var(--black);
}

.linkItem {
  position: relative;
}

.linkItem:hover {
  color: var(--primary-color);
}

.linkItem::after {
  content: '';
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: 0.2s;
  background-color: var(--primary-color);
}

.linkItem:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
}

@media (max-width: 635px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.dropdown {
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 40px;
  z-index: 4000;
  background: #393b989c;
  color: #fff;
  padding: 15px 10px;
  border-radius: 12px;
  box-shadow: 4px 4px 6px 0 #21212130;
  transition: 0.2s all;
  transition-delay: 0.2s;
  display: flex;
  opacity: 0;
  visibility: hidden;
}
.linkItem:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}
.dropdown li {
  padding: 5px 10px;
  transition: 0.2s all;
  border-radius: 12px;
}
.dropdown li:hover {
  background: var(--dark);
}
