.reach-out-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: inherit;
  padding: 20px;
  gap: 32px;
}

.reach-point {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}

.reach-point .step {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 500;
  color: var(--black);
}

.reach-out-point {
  background-color: var(--purple);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.reach-out-point img {
  height: 150px;
  width: 150px;
}

.reach-out-point h2 {
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: white;
  width: 50%;
  text-align: center;
  border-radius: 50%;
}

.reach-out-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  right: -50px;
  z-index: 100;
}
