@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

* {
  box-sizing: border-box;
}

.sectioncss {
  margin-bottom: 200px;
}

.check::before {
  background: #393b989c;
}

.check .vertical-timeline-element--work .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #393b989c, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.datecolor {
  color: #000428;
  font-size: 15.5rem;
}
.timelinecss {
  margin-bottom: 30px;
}

.timelinecss h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

.timelinecss h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.colorcss {
  color: black;
}

.prizecss {
  margin-bottom: 20px;
  padding: 25px;
  font-size: 20px;
}

.fontcss {
  font-family: "Quicksand", sans-serif;
}

@media all and (max-width: 1170px) {
  body {
    width: 100%;
  }

  .datecolor {
    color: white;
  }
}
