.blogmaincss {
  margin-bottom: 20px;
  padding: 10px;
  z-index: 0;
  text-align: center;
}

.blogmaincss a {
  transition: all 0.2s;
  text-decoration: none;
  color: #fff;
}
.blogmaincss img {
  width: 100%;
  transition: all 0.2s;
  height: 265px;
}
.blogmaincss section {
  padding: 70px 0;
  margin-top: 0;
  background: rgba(var(--primary-color), 0.09);
  text-align: center;
}
.blogmaincss main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}
.blogmaincss header {
  width: 100%;
  margin: 0 auto;
}
.blogmaincss header h1 {
  margin: 0;
  font-size: 40px;
  color: var(--primary-color);
  font-weight: 300;
  text-transform: uppercase;
}
.singleBlog {
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 12px;
}
.singleBlog img {
  height: 100%;
  width: 100%;
}
.singleBlog:hover {
  box-shadow: 0 2px 13px #ccc;
}
.singleBlog:hover img {
  transform: scale(1.1);
}
.blogContent {
  position: absolute;
  left: 0;
  bottom: -170px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: var(--gradient-transparent);
  transition: 0.2s all;
}
.singleBlog:hover .blogContent {
  bottom: 0;
}

.blogContent h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.blogContent h3 span {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgb(16, 17, 19);
}

.blogContent a {
  font-size: 14px;
  font-weight: 500;
}
.blogContent .btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}
.blogContent .btn:hover {
  background: var(--primary-color);
  transition: all 0.5s;
  text-decoration: none;
}
.blogContent a:hover {
  text-decoration: underline;
}
.blogbuttoncss {
  margin-top: 50px;
  background: rgba(var(--primary-color), 0.09);
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px -3px #fff;
  margin-bottom: 20px;
}
.blogbuttoncss:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .blogmaincss main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 767px) {
  .blogmaincss main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .blogmaincss header {
    width: 95%;
  }
  .blogContent {
    bottom: 0;
  }
}
@media (max-width: 500px) {
  .blogmaincss main {
    grid-template-columns: repeat(1, 1fr);
  }
}
