.internships-page {
  background: var(--gradient);
}

.head-div {
  height: 60vh;
  background-image: url(../../assets/internship/head2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intern-main-para {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  text-transform: lowercase;
}
