.internships-page {
  background: var(--gradient);
  min-height: calc(100vh - 146px);
}

.intern-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

img {
  align-items: center;
}
