@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #6d6875;
  --secondary-color: #b5838d;
  --dark: #e5989b;
  --white: #ffcdb2;
  --light: #ffb4a2;
  --purple: #393b989c;
  --gradient: linear-gradient(
    to bottom right,
    hsla(12, 100%, 82%, 1) 25%,
    hsla(358, 60%, 75%, 1) 55%,
    hsla(348, 25%, 61%, 1) 83%
  );
  --gradient-transparent: linear-gradient(
    to bottom right,
    hsla(12, 100%, 82%, 0.7) 25%,
    hsla(358, 60%, 75%, 0.7) 55%,
    hsla(348, 25%, 61%, 0.7) 83%
  );
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  user-select: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f5f5;
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

.primary-heading {
  text-align: center;
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.secondary-heading {
  font-weight: 400;
  font-size: 32.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary-color);
  margin: 0;
  padding-bottom: 15px;
}

.primary-para {
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-color);
  margin: 0;
}

.secondary-para {
  font-size: 15px;
  line-height: 20px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
/*********************************************************************************************************************/

@media only screen and (max-width: 900px) {
  .primary-heading {
    font-size: 42px;
  }

  .secondary-heading {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .primary-para {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 540px) {
  .primary-heading {
    font-size: 32px;
  }

  .secondary-heading {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .primary-para {
    font-size: 16px;
    line-height: 20px;
  }
}

/*******************************************************************************************************************/

.off-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 80px;
  z-index: 4000;
}

.off-nav .list a {
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 30px;
}

/*********************************************************************************************************************/
/* Button - btn */
.btn {
  background-color: var(--purple);
  width: 50%;
  height: 100%;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  border-radius: 500px;
  color: #fafafa;
}

.btn:hover {
  box-shadow: 4px 4px 6px 0 #21212130;
  filter: brightness(105%);
}

.btn-group {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.btn:active {
  box-shadow: none;
}
