@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}

html,
body {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.primary-heading {
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.secondary-heading {
  font-weight: 400;
  font-size: 32.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.primary-para {
  font-size: 18px;
  line-height: 30px;
}

.color-w {
  color: #fff;
}

.color {
  color: #393a98;
}

.color-o {
  color: #f05b36;
}

/*********************************************************************************************************************/
