@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

:root {
  /* --primary-color: #cbc0d3;
  --secondary-color: #dee2ff;
  --dark: #8e9aaf;
  --tertiary: #efd3d7;
  --light: #feeafa;
  --gradient: linear-gradient(
    90deg,
    hsla(351, 47%, 88%, 1) 22%,
    hsla(312, 91%, 96%, 1) 53%,
    hsla(233, 100%, 94%, 1) 97%
  ); */

  /* --primary-color: #ff9f1c;
  --secondary-color: #2ec4b6;
  --dark: #ffbf69;
  --white: #fff;
  --light: #cbf3f0;
  --gradient: linear-gradient(
    90deg,
    hsla(34, 100%, 71%, 1) 25%,
    hsla(176, 62%, 87%, 1) 75%
  ); */

  --primary-color: #6d6875;
  --secondary-color: #b5838d;
  --dark: #e5989b;
  --white: #ffcdb2;
  --light: #ffb4a2;
  --gradient: linear-gradient(
    to bottom right,
    hsla(12, 100%, 82%, 1) 25%,
    hsla(358, 60%, 75%, 1) 55%,
    hsla(348, 25%, 61%, 1) 83%
  );
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}

html,
body {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  text-decoration: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #262626;
}

.primary-heading {
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.secondary-heading {
  font-weight: 400;
  font-size: 32.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.primary-para {
  font-size: 18px;
  line-height: 30px;
}

.color-w {
  color: #fff;
}

.color {
  color: #393a98;
}

.color-o {
  color: #f05b36;
}

/*********************************************************************************************************************/
