.about-info-page {
  background: var(--gradient);
  color: var(--primary-color);
  min-height: calc(100vh - 146px);
  padding-top: 120px;
}

.about-section-page {
  max-width: 1200px;
  margin: 0 auto;
}

.about-intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin: 50px 0;
}

.about-intro-left {
  align-self: center;
}

.about-intro-left img {
  max-width: 100%;
  border-radius: 15px;
}

.about-intro-section h1 {
  font-size: 50px;
  margin: 12px 0;
  font-weight: 300;
  text-transform: uppercase;
}

.about-intro-section p {
  line-height: 22px;
  font-size: 20px;
  color: white;
  text-align: justify;
}

.about-services h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.about-services-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.about-services-section div {
  background-color: var(--primary-color);
  overflow-wrap: break-word;
  padding: 4vh;
  font-size: 25px;
  color: var(--dark);
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  text-align: center;
}
