.webinar-page {
  background: var(--gradient);
  min-height: calc(100vh - 146px);
  color: #fff;
  padding: 120px;
}

.webinar-container {
  display: flex;
  align-items: center;
}
.webinar-image {
  max-width: 100%;
}
.webinar-text {
  font-size: 20px;
  padding-left: 20px;
  text-align: justify;
}

.webinar-head {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.webinar-actual-image {
  margin-left: 20px;
  aspect-ratio: 9/16;
  height: 600px;
}

.webinar-container-2 {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
}
