.webinar-page {
  background: var(--gradient);
  min-height: calc(100vh - 146px);
  color: white;
  padding: 20px 0;
}

.webinar {
  max-width: 1400px;
  margin: 0 auto;
}

.webinar-head {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.webinar-page p {
  font-size: 20px;
}

.webinar-grid {
  padding: 20px 0;
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.webinar-grid img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  justify-self: center;
}

@media only screen and (max-width: 1400px) {
  .webinar {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1230px) {
  .webinar {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .webinar {
    max-width: 850px;
  }

  .webinar-grid {
    padding: 0;
    column-gap: 25px;
  }
}

@media only screen and (max-width: 850px) {
  .webinar {
    max-width: 600px;
  }

  .webinar-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .webinar {
    max-width: 400px;
  }

  .webinar-page p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .webinar {
    max-width: 300px;
  }

  .webinar-grid {
    grid-template-columns: 1fr;
  }
}
