.webinar-page {
  background: var(--gradient);

  margin: 0 auto;
  color: white;
}

.webinar-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
}
.webinar-image {
  max-width: 100%;
}
.webinar-text {
  font-size: 20px;
  padding-left: 20px;
  text-align: justify;
}

.webinar-head {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.webinar-actual-image {
  height: 500px;
  width: 700px;
  margin-left: 20px;
}

.webinar-container-2 {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
}
